.content {
  padding-top: 10px;
}
.row {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  mat-form-field {
    width: 100%;
  }
  mat-radio-button {
    margin-left: 16px;
  }
}
.action {
  button {
    flex: 1;
  }
}
